@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color definitions */
  --body-color: #f9fbfc;
  --primary-color: #0d1a2a;
  --primary-color-light: #7d828f;
  --secondary-color: #525fe1;
  --white: #ffffff;
  --light-grey: #f3f3f7;
  --not-so-light-grey: #a4a4a4;
  --grey: #717171;
  --darkGrey: #4e4e4e;
  --darkerGrey: #2b2c2d;
  --red: #fe2020;
  --purple: #9848ff;
  --pink: #ff60a8;
  --orange: #f66742;
  --yellow: #ffcf59;
  --lightGreen: #a7ce4a;
  --lightBlue: #4e95df;
  --black: #000000;

  background-color: var(--body-color);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nohighlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 0.9rem;
  height: 0.9rem;
  border: 0.05rem solid var(--not-so-light-grey);
  border-radius: 0.25rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 50ms transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: #959495;

  color: #959495;
  cursor: not-allowed;
}

/* width */
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--not-so-light-grey);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner-box-content {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  background-color: white;
  border-radius: 10px;
}
.carousel-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            max-width: 800px; /* Adjust carousel width as needed */
            margin: auto;
        }

        .carousel-images {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-image {
			border-radius:20px;
            width: 100%;
			
            flex-shrink: 0;
        }