@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

.numbers-count-container {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 40px 60px;
  gap: 120px;
  flex-wrap: wrap;
  @media only screen and (max-width: 910px) {
    padding: 40px;
    gap: 80px;
  }
}

.numbers-count-container > .number-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-transform: capitalize;
  gap: 10px;
}

.numbers-count-container > .number-count > h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
}

.numbers-count-container > .number-count > p {
  font-size: 12px;
  font-weight: 400;
}