@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

.header-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 75px;
  @media only screen and (max-width: 910px) {
    padding: 8px 0px;
  }
  font-family: "Inter", sans-serif;
}

.header-top h1 {
  display: flex;
  color: #0d1a2a;
  font-size: 28px;
  flex-direction: row;
  cursor: pointer;
}

.header-top > h1 > img{
  width: 8%;
  height: 8%;
}

.header-top h1 > span {
  color: #525fe1;
}

.header-top .menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.header-top .menus > .menu-items a.active {
  color: #0d1a2a;
}

.header-top .menu-items {
  position: relative;
}

.header-top .menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.header-top .menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.header-top .menu-items > a,
.header-top .menu-items button {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 3px;
  text-align: left;
  text-transform: capitalize;
  padding: 0.7rem 1rem;
  font-weight: 700;
  font-size: 13px;
  color: #a4a4a4;
  transition: color 0.2s ease-in-out;
}

.header-top .menu-items a:hover,
.header-top .menu-items button:hover {
  color: #0d1a2a;
}

.header-top .dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  z-index: 9999;
  min-width: 12rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #f9fbfc;
  border-radius: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease-in-out;
  @media only screen and (max-width: 910px) {
    position: static;
    box-shadow: none;
    padding: 0;
    opacity: 1;
    height: 0;
    overflow-y: hidden;
    /* background-color: red; */
  }
}

.header-top .dropdown.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  @media only screen and (max-width: 910px) {
    height: 100%;
  }
}

/* .header-top .dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
} */

.header-top .dropdown .menu-items > a,
.header-top .dropdown .menu-items button {
  color: #0d1a2a;
  transition: color 0.2s ease-in-out;
}

.header-top .dropdown .menu-items {
  border-bottom: 1px solid var(--light-grey);
}

.header-top > .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  @media only screen and (max-width: 910px) {
    display: none;
  }
}

.header-top > .login-container > .login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #ffcf59;
  color: #0d1a2a;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.header-top .burger-menu {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 1.7rem;
  height: 1.7rem;
}

.header-top .login-mobile-btn {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 5.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 1.7rem;
  height: 1.7rem;
  background-image: url(../../assets/login-mobile.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

@media only screen and (min-width: 910px) {
  .header-top .dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
  }
}

@media (max-width: 910px) {
  .header-top .burger-menu,
  .header-top .login-mobile-btn {
    display: flex;
  }
  .header-top {
    flex-direction: column;
    align-items: start;
  }
  .header-top .menus {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.25rem;
    /* margin-top: 25px; */
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
  .header-top .dropdown {
    left: 50%;
  }

  .header-top .open {
    height: 100%;
    margin-top: 25px;
    visibility: visible;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
  .header-top .burger-menu > .sus {
    height: 0.25rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
    visibility: visible;
    transition: all 0.2s ease-out;
  }
  .header-top .burger-menu > .top {
    width: 130%;
    margin-left: 8%;
    transform-origin: top left;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }
  .header-top .burger-menu > .mid {
    visibility: hidden;
  }
  .header-top .burger-menu > .bottom {
    width: 130%;
    margin-left: 8%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
}

.HeaderLogo img {
  width: 6rem;
  height: 3.5rem;
}

@media screen and (max-width: 910px) {
  .HeaderLogo img {
      width: 3em;
      height: 2em;
      background-size: 1.75em;
  }
  .HeaderLogo {
      padding-top: 0.063rem;
      padding-left: 1.25rem;
  }
}

.login-wrap {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5em 1em 1em 1em;
  transition: 0.35s;
}
.login-wrap input {
  margin-right: 1em;
  padding: 0.4em 0.55em;
  border: 1px solid gray;
  outline: none;
  font-size: 0.95em;
}
.login-wrap input:focus {
  box-shadow: 0 0 0 1px #444444;
}
.login-wrap button {
  margin-right: 1em;
  padding: 0.65em 0.55em;
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  transition: 0.35s;
  width: 5.7em;
}
.forgot-wrap {
  align-self: flex-start;
  margin-top: 0.5em;
  font-size: 0.75em;
}
.forgot-pass {
  cursor: pointer;
  color: #092247;
}
.forgot-pass:hover {
  text-decoration: underline;
}
.error {
  color: #cf0101;
  margin-left: 0.75em;
  cursor: default;
}
.error:hover {
  text-decoration: unset;
}
@media only screen and (max-width: 600px) {
  .login-wrap {
      width: inherit;
      margin: auto;
      flex-direction: column;
  }
  .login-wrap input,
  .login-wrap button {
      width: 100%;
      margin-top: 1em;
      padding: 0.5em;
      margin-right: 0;
  }
  .forgot-wrap {
      margin-top: 1em;
      font-size: 0.8em;
  }
}

.slide-up {
  max-height: 0px;
}

.slide-down {
  max-height: 100px;
  transition: max-height 0.6s ease-in-out;
}

.slide-up,
.slide-down {
  transition: max-height 0.6s ease-in-out;
}

@media only screen and (max-width: 600px) {
.slide-down {
    max-height: 300px;
}
}